//Button Defaults
.button{
  display: inline-block;
  line-height: 1;
  border-radius: $border-radius-standard;
  color: $color-white !important;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  outline: 0;
  border: 0;
  text-decoration: none;
  background: $color-standard;
  box-shadow: $box-shadow-smallest;
  text-transform: uppercase;
  user-select: none; 
  &:hover{
    box-shadow: $box-shadow-smaller;
  }
  &:active{
    box-shadow: $box-shadow-smallest;
  }
}

//Mixins
@mixin button-standard($options:""){
  @extend .button;
  font: $font-alternate;
  padding: $cell-smaller/2 $cell-standard/2;
  @media only screen and (max-width: $screen-tablet){
	  display: block;
  }    
  @if $options == 'inverted' {
    background: $color-white;
    color: $color-standard !important;
  }
}
@mixin button-larger($options:""){
  @extend .button;
  padding: 5px $cell-smaller;
  @if $options == 'inverted' {
    background: $color-white;
    color: $color-standard !important;
  }
}
@mixin button-smaller($options:""){
  @extend .button;
  padding: 5px $cell-smaller/2;
  font: $font-smaller_alternate;
  @if $options == 'inverted' {
    background: $color-white;
    color: $color-standard !important;
  }
}
@mixin button-smallest(){
  @extend .button;
  @include responsive-smallest_font();
  padding: 3px $cell-smaller;
}
@mixin button-circle(){
  display: inline-block;
  border-radius: $border-radius-circle;
  padding: 7px 0;
  font: $font-smaller_standard;
  height: $cell-standard;
  width: $cell-standard;
  color: $color-white;
  text-align: center;
  &:hover{
    box-shadow: $box-shadow-standard;
  }
  &:active{
    box-shadow: $box-shadow-smaller;
  }
  @media only screen and (min-width: $screen-largest){
    font: $font-standard;
    height: $cell-larger;
    width: $cell-larger;
    padding: 10px 0;
  }
  @media only screen and (max-width: $screen-tablet){
    font: $font-smaller_standard;
    height: $cell-smaller;
    width: $cell-smaller;
    padding: 3px 0;
  }    
}