/*--------------------------------------------------------------
# Mixins that help responsive sizing of elements.
--------------------------------------------------------------*/

//Standard Container
@mixin responsive-standard_container(){
  margin: 0 auto;
  width: $screen-desktop;
  @media only screen and (min-width: $screen-smaller_desktop) and (max-width: $screen-desktop){
    width: $screen-smaller_desktop;
  }
  @media only screen and (max-width: $screen-smaller_desktop){
	  width: 100%;
  }
}

//Smaller Container
@mixin responsive-smaller_container(){
  margin: 0 auto;
  width: $cell-standard*32;
  @media only screen and (max-width: $cell-standard*32){
	  width: 100%;
  }
}

//Thick Container Padding
@mixin responsive-larger_padding(){
  @media only screen and (min-width: $screen-desktop){
	  padding: $cell-larger $cell-smaller;
  }
  @media only screen and (min-width: $screen-smaller_desktop) and (max-width: $screen-desktop){
	  padding: $cell-standard $cell-smaller;
  }
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  padding: $cell-smaller $cell-smaller;
  }
  @media only screen and (max-width: $screen-tablet){
	  padding: $cell-smaller $cell-smaller;
  }
} 

//Container Padding
@mixin responsive-standard_padding(){
  @media only screen and (min-width: $screen-desktop) {
	  padding: $cell-larger $cell-smaller;
  }
  @media only screen and (min-width: $screen-smaller_desktop) and (max-width: $screen-desktop){
	  padding: $cell-standard $cell-smaller;
  }
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  padding: $cell-smaller $cell-smaller;
  }
  @media only screen and (max-width: $screen-tablet){
	  padding: $cell-smaller $cell-smaller;
  }
}

//Thin Container Padding
@mixin responsive-smaller_padding(){
  @media only screen and (min-width: $screen-desktop) {
	  padding: $cell-larger/2 $cell-smaller;
  }
  @media only screen and (min-width: $screen-smaller_desktop) and (max-width: $screen-desktop){
	  padding: $cell-standard/2 $cell-smaller;
  }
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  padding: $cell-smaller/2 $cell-smaller;
  }
  @media only screen and (max-width: $screen-tablet){
	  padding: $cell-smaller;
  }
}

//Top Padding
@mixin responsive-top_padding(){
  @media only screen and (min-width: $screen-smaller_desktop) {
	  padding-top: $cell-largest !important;
  }
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  padding-top: $cell-larger !important;
  }
  @media only screen and (max-width: $screen-tablet){
	  padding-top: $cell-standard !important;
  }
}

//Padding Left
@mixin responsive-padding_left(){
  transition: padding-left .2s;
  @media only screen and (max-width: $screen-desktop){
	  padding-left: $cell-larger;
  }
  @media only screen and (min-width: $screen-smaller_desktop) and (max-width: $screen-desktop){
	  padding-left: $cell-standard;
  }
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  padding-left: $cell-smaller;
  }
  @media only screen and (max-width: $screen-tablet){
	  padding-left: $cell-smaller;
  }
}

//Image Padding Bottom
@mixin responsive-image_padding_bottom($total_length_of_images){
  padding-bottom: (100/$total_length_of_images)*$image-base_height; //Thanks @ebertucc!
}


//Largest Standard Font
@mixin responsive-largest_standard_font(){
  font: $font-largest_standard;
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  font: $font-larger_standard;
  }
  @media only screen and (max-width: $screen-tablet){
	  font: $font-standard;
  }
}

//Larger Standard Font
@mixin responsive-larger_standard_font(){
  font: $font-larger_standard;
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  font: $font-standard;
  }
  @media only screen and (max-width: $screen-tablet){
	  font: $font-smaller_standard;
  }
}

//Standard Standard Font
@mixin responsive-standard_font(){
  font: $font-standard;
  @media only screen and (max-width: $screen-smaller_desktop){
	  font: $font-smaller_standard;
  }
}

//Smaller Standard Font
@mixin responsive-smaller_standard_font(){
  font: $font-smaller_standard;
}

//Largest Alternate Font
@mixin responsive-largest_standard_font(){
  font: $font-largest_alternate;
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  font: $font-larger_alternate;
  }
  @media only screen and (max-width: $screen-tablet){
	  font: $font-alternate;
  }
}

//Larger Alternate Font
@mixin responsive-larger_alternate_font(){
  font: $font-larger_alternate;
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  font: $font-alternate;
  }
  @media only screen and (max-width: $screen-tablet){
	  font: $font-smaller_alternate;
  }
}

//Alternate Font
@mixin responsive-alternate_font(){
  font: $font-alternate;
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
	  font: $font-smaller_alternate;
  }
  @media only screen and (max-width: $screen-tablet){
	  font: $font-smallest_alternate;
  }
}