/*--------------------------------------------------------------
# Mixins that help responsive sizing of elements.
--------------------------------------------------------------*/

//Standard Container
@mixin responsive-standard_container(){
  margin: 0 auto;
  @media only screen and (min-width: $screen-larger){
	  width: $screen-larger;
  }
  @media only screen and (min-width: $screen-standard) and (max-width: $screen-larger){
	  width: $screen-standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  width: $screen-smaller;
  }
  @media only screen and (max-width: $screen-smaller){
	  width: 100%;
  }
}

//Smaller Container
@mixin responsive-smaller_container(){
  margin: 0 auto;
  @media only screen and (min-width: $screen-standard){
	  width: $screen-smaller;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  width: $screen-smallest;
  }
  @media only screen and (min-width: 470px) and (max-width: $screen-smaller){
    width: 470px
  }
  @media only screen and (max-width: 470px){
	  width: 100%;
  }
}

//Smallest Container
@mixin responsive-smallest_container(){
  margin: 0 auto;
  @media only screen and (min-width: $screen-larger){
	  width: $screen-smaller;
  }
  @media only screen and (min-width: $screen-smallest) and (max-width: $screen-larger){
	  width: $screen-smallest;
  }
  @media only screen and (max-width: $screen-smallest){
	  width: 100%;
  }
}

//Thick Container Padding
@mixin responsive-larger_padding(){
  @media only screen and (min-width: $screen-larger){
	  padding: $cell-larger $cell-smallest;
  }
  @media only screen and (min-width: $screen-standard) and (max-width: $screen-larger){
	  padding: $cell-standard $cell-smallest;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding: $cell-smaller $cell-smallest;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding: $cell-smallest $cell-smallest;
  }
} 

//Container Padding
@mixin responsive-standard_padding(){
  @media only screen and (min-width: $screen-larger) {
	  padding: $cell-larger $cell-smallest;
  }
  @media only screen and (min-width: $screen-standard) and (max-width: $screen-larger){
	  padding: $cell-standard $cell-smallest;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding: $cell-smaller $cell-smallest;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding: $cell-smallest $cell-smallest;
  }
}

//Thin Container Padding
@mixin responsive-smaller_padding(){
  @media only screen and (min-width: $screen-larger) {
	  padding: $cell-larger/2 $cell-smallest;
  }
  @media only screen and (min-width: $screen-standard) and (max-width: $screen-larger){
	  padding: $cell-standard/2 $cell-smallest;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding: $cell-smaller/2 $cell-smallest;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding: $cell-smallest;
  }
}

//Top Padding
@mixin responsive-top_padding(){
  @media only screen and (min-width: $screen-standard) {
	  padding-top: $cell-largest !important;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding-top: $cell-larger !important;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding-top: $cell-standard !important;
  }
}

//Padding Left
@mixin responsive-padding_left(){
  transition: padding-left .2s;
  @media only screen and (min-width: $screen-largest){
	  padding-left: $cell-largest;
  }
  @media only screen and (min-width: $screen-larger) and (max-width: $screen-largest){
	  padding-left: $cell-larger;
  }
  @media only screen and (min-width: $screen-standard) and (max-width: $screen-larger){
	  padding-left: $cell-standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding-left: $cell-smaller;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding-left: $cell-smallest;
  }
}

//Image Padding Bottom
@mixin responsive-image_padding_bottom($total_length_of_images){
  padding-bottom: (100/$total_length_of_images)*$image-base_height; //Thanks @ebertucc!
}


//Largest Standard Font
@mixin responsive-largest_standard_font(){
  font: $font-largest_standard;
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-larger_standard;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-standard;
  }
}

//Larger Standard Font
@mixin responsive-larger_standard_font(){
  font: $font-larger_standard;
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-standard;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smaller_standard;
  }
}

//Standard Standard Font
@mixin responsive-standard_font(){
  font: $font-standard;
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-smaller_standard;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smallest_standard;
  }
}

//Smaller Standard Font
@mixin responsive-smaller_standard_font(){
  @media only screen and (min-width: $screen-largest){
	  font: $font-larger_standard;
  }
  @media only screen and (min-width: $screen-larger) and (max-width: $screen-largest){
    font: $font-standard;
  }
  @media only screen and  (max-width: $screen-larger){
	  font: $font-smaller_standard;
  }
}

//Largest Alternate Font
@mixin responsive-largest_standard_font(){
  font: $font-largest_alternate;
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-larger_alternate;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-alternate;
  }
}

//Larger Alternate Font
@mixin responsive-larger_alternate_font(){
  font: $font-larger_alternate;
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-alternate;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smaller_alternate;
  }
}

//Alternate Font
@mixin responsive-alternate_font(){
  font: $font-alternate;
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-smaller_alternate;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smallest_alternate;
  }
}

//Smaller Alternate Font
@mixin responsive-smaller_alternate_font(){
  @media only screen and (min-width: $screen-largest){
	  font: $font-larger_alternate;
  }
  @media only screen and (min-width: $screen-larger) and (max-width: $screen-largest){
    font: $font-alternate;
  }
  @media only screen and  (max-width: $screen-larger){
	  font: $font-smaller_alternate;
  }
}