/*--------------------------------------------------------------
# Elements, such as dynamic AJAX lists, in a PHP Includes File
--------------------------------------------------------------*/

//includes/tinymce.php
.include-lead{
  @include responsive-larger_standard_font();
}