/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

//Single Page
.layout-single_page {
  
  //Loop Content
  .single_page-loop_content{
  }
  
}

//Single Post
.layout-single_post{

  //Media
  .single_page-media{
  }
  
  //Loop Content
  .single_post-loop_content{
  }
  
}

//Single Event Listing
.layout-single_listing{
  
  //Loop Content
  .single_event-loop_content{
  }
  
}

//Archive
.layout-archive{
  position: relative;
  
  //Callout
  .archive-callout{
    overflow: hidden;
    position: relative;
    @extend .segment-callout;

    //Text (all)
    .callout-medium, .callout-medium_inverted{      
      .medium-title, .medium_inverted-title{
      }
      .medium-body, .medium_inverted-body{
      }
    }
    
    //Text (inverted)
    .callout-text_inverted{
      .text_inverted-title{
      }
      .text_inverted-body{
      }
    }
    
    //Background
    .callout-background{
      @extend .segment-background;
    }
    
  }

  //Loop Content
  .archive-loop_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include responsive-standard_container();
    @include responsive-standard_padding();
  }

}

//Event List
.layout-event_list{

  //Callout
  .event_list-callout{
    overflow: hidden;
    position: relative;
    @extend .segment-callout;

    //Text (all)
    .callout-medium, .callout-medium_inverted{      
      z-index: 2;
      position: relative;
      .medium-title, .medium_inverted-title{
      }
      .medium-body, .medium_inverted-body{
      }
    }
    
    //Background
    .callout-background{
      @extend .segment-background;
      z-index: 1
    }
    
  }
  
  //Event Labels
  .event_list-event_labels{
    .event_labels-label{
    }
  }
  
  //Navigation
  .event_list-navigation{
    
    .navigation-text{
      
    }
    .navigation-previous{
      
    }
    .nevigation-next{
      
    }
  }
  
  //Loop Content
  .event_list-loop_content{
    
    //Day Header
    .loop_content-day_header{
      .day_header-day{
        
      }
      .day_header-date{
      }
    }
    
  }

}

//Single Event
.layout-single_event{
  
  //Content
  .single_event-content{
    
    //Media
    .content-media{
    }
    
    //Header
    .content-header{
      
      //Badge
      .header-free_badge{
      }
      
      //Title
      .header-title{
      }
      
      //Event Days
      .header-event_days{
        
        //Multiple Days
        .event_days-multiple_days_toggle{
        }
        .event_days-multiple_days{
          .multiple_days-day{
          }          
        }
        
        //Single Day
        .event_days-single_day{
        }

      }
    
      //Event Label(s)
      .header-event_labels{      
      }
  
      //Website
      .header-event_website{      
        .event_website-link{
        }
      }
      
    }
    
    //Body
    .content-body{
      .body-event_description{
      }
      .body-event_date_info{
      }
      .body-admission_fee{
      }
      
      //Body Sidebar
      .body-sidebar{
        
        //Map
        .sidebar-map{
        }
        
        //Address
        .sidebar-address{
          .address-line_1, address-line_2{
          }
          .address-event_city_state_zip{
          }
        }
        
        //Phone
        .sidebar-phone{
        }
        
      }
      
    }
            
  }
  
}