/*--------------------------------------------------------------
# Loop_content content requires the loop to exist
--------------------------------------------------------------*/

//Segments
.loop_content-segments{
  
  //Single Segment
  .segments-segment{
    position: relative;
    padding: $cell-larger*2 0;
  }
}

//Post Content
.loop_content-post_content{
  
  //Page Title
  .post_content-page_title{
  }
  
  //The Content
  .post_content-the_content{
  }
  
}

//Listed Post
.loop_content-listed_post{
  
  //Image
  .listed_post-image{
    display: block;
    position: relative;
    width: 100%;
    @include responsive-image_padding_bottom(100);     
    overflow: hidden;
    .image-the_image{
      position: absolute;
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      height: auto;    
      width: auto;
    }
  }
  
  //Text
  .listed_post-text{
    
    //Category
    .text-categories{
      a{
      }
    }
    
    //Title
    .text-title{
      &:hover{
      }
    }
    
    //Excerpt
    .text-excerpt{
    }
 
  }

}

//Listed Event
.loop_content-listed_event{

  //Image
  .listed_event-image{
    
    //The Image
    .image-the_image{
    }
    
    //"Free" Badge
    .image-free_badge{
    }
    
  }
  
  //Text
  .listed_event-text{
    
    //Title
    .text-title{
    }
    
    //Date Info
    .text-date_data{
    }
    
  }  

}

//Single Listing Body
.loop_content-single_listing_body{
  @include responsive-standard_container();
  display: flex;
  flex-wrap: wrap;
  
  //Main Body Area
  .single_listing_body-main{
    width: 70%;
    padding-bottom: $cell-standard;

    @media only screen and (max-width: $screen-tablet){
      width: 60%;
    }
    .body-event_description, .body-event_date_info{
      font: $font-standard;
      padding: $cell-standard $cell-smaller;
    }
    .body-event_date_info{
      color: $color-dark_shade;
    }
    .body-price{
      display: inline-block;
      font-weight: $font-weight-bold;
      @include responsive-standard_padding();
      padding-top: 0 !important;
      @include responsive-standard_font();
    }
  }
  
  //Body Sidebar Area
  .single_listing_body-sidebar{
    width: 30%;
    @include responsive-standard_padding();
    border-left: $border-standard;
    font: $font-smaller_standard;
    padding-bottom: $cell-standard;
    @media only screen and (max-width: $screen-tablet){
      width: 40%;
    }
      
    //Phone and Address
    .sidebar-phone, .sidebar-address, .sidebar-website{
      position: relative;
      margin-left: $cell-smaller+6;
      &:before{
        @include fa-icon();
        position: absolute;
        left: -$cell-smaller;
      }
    }        

    //Address
    .sidebar-address{
      &:before{
        content: $fa-var-compass;
        font-size: 14px;
        left: -$cell-smaller - 2;
      }
      .address-line_1, address-line_2{
      }
      .address-city_state_zip{
      }
    }

    //Phone
    .sidebar-phone{
      margin-top: $cell-smaller;
      &:before{
        font-size: 14px;
        left: -$cell-smaller;
        content: $fa-var-phone;
      }
    }
            
  }
  
}

//Single Listing Body
.loop_content-single_listing_body{
  
  //Main Body Area
  .single_listing_body-main{
    .body-event_description{
    }
    .body-event_date_info{
    }
    .body-admission_fee{
    }
  }
  
  //Body Sidebar Area
  .single_listing_body-sidebar{
      
    //Map
    .sidebar-map{
    }
    
    //Phone and Address
    .sidebar-phone, .sidebar-address{
    }        

    //Address
    .sidebar-address{
      .address-line_1, address-line_2{
      }
      .address-event_city_state_zip{
      }
    }
    
    //Phone
    .sidebar-phone{
    }        
  }
  
}

//Error Message
.loop_content-error_message{
  .error_message-title{
  }
  .error_message-body{
  }
}

//Pagination
.loop_content-pagination{
  .current{
  }
  a{
  }
}

