/*--------------------------------------------------------------
# Segment content that is within loop content.
--------------------------------------------------------------*/

//Background
.segment-background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  pointer-events: none;
  & > div{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  //Overlay
  .background-overlay{
    background: $color-translucent;
    z-index: -1;
  }
  
  //General Backgrounds  
  .background-white, .background-light_shade, .background-image{
    z-index: -2;
  }
  
  //White
  .background-white{
    @include background('white');
  }

  //Light Shade
  .background-light_shade{
    @include background('light_shade');
  }
  
  //Image
  .background-image{
    @include background('image');
  }
}

//Info Box
.segment-info_box{
  position: relative;
  z-index: 3;

  //Content
  .info_box-content{

    //Title
    .content-title{
    }

    //Subtitle
    .content-subtitle{
    }
    
    //Body
    .content-body{
    }
    
  }

}

//Testimonials
.segment-testimonials{
  position: relative;
  z-index: 2;

  //Title
  .testimonials-title{
  }

  //Subtitle
  .testimonials-subtitle{
  }
  
  //Body
  .testimonials-body{
  }
  
  //Quotes
  .testimonials-quotes{
    
    //Single Quote
    .quotes-single_quote{
    }
    
  }
  
  //Sources
  .testimonials-sources{
    
    //Single Source
    .sources-single_source{
      .single_source-image{
      }
    }
    
  }

}


//Callout
.segment-callout{
  position: relative;
  display: table;
  width: 100%;
  z-index: 2;
  
  //Content (all sizes + inverted)
  .callout-large, .callout-medium, .callout-small, .callout-large_inverted, .callout-medium_inverted, .callout-small_inverted {
    text-align: center;

    //Title, Subtitle and Body
    & > div {
      @include responsive-smaller_container();
    }
    
    //Title
    .large-title, .medium-title, .small-title, .large_inverted-title, .medium_inverted-title, .small_inverted-title{
      @include responsive-largest_standard_font();
    }
    
    //Subtitle
    .large-subtitle, .medium-subtitle, .small-subtitle, .large_inverted-subtitle, .medium_inverted-subtitle, .small_inverted-subtitle{
      @include responsive-larger_standard_font();
    }
    
    //Body
    .large-body, .medium-body, .small-body, .large_inverted-body, .medium_inverted-body, .small_inverted-body{
      @include responsive-standard_font();
    } 
  }
  
  //Content (large)
  .callout-large, .callout-large_inverted {
    height: 90vh;
    display: table-cell;
    vertical-align: middle;
  }

  //Content (medium)
  .callout-medium, .callout-medium_inverted{
    @include responsive-larger_padding()
  }

  //Content (small)
  .callout-small, .callout-small_inverted{
  }
  
  //Content (all sizes + not inverted)
 .callout-large, .callout-medium, .callout-small{
   
    //Title
    .large-title, .medium-title, .small-title{
    }
    
    //Subitle
    .large-subtitle, .medium-subtitle, .small-subtitle{
    }
    
    //Body
    .large-body, .medium-body, .small-body{
    }
    
  }
  
  //Content (inverted)
 .callout-large_inverted, .callout-medium_inverted, .callout-small_inverted{
    .large_inverted-title, .medium_inverted-title, .small_inverted-title, .large_inverted-subtitle, .medium_inverted-subtitle, .small_inverted-subtitle, .large_inverted-body, .medium_inverted-body, .small_inverted-body{
      color: $color-white;
      a{
        color: $color-white;
      }
    }
  }
    
}

//One Column
.segment-one_column{
  position: relative;
  z-index: 2;
  
  //Text (All)
  .one_column-brief_text, .one_column-regular_text, .one_column-long_text, .one_column-brief_text_inverted, .one_column-regular_text_inverted, .one_column-long_text_inverted{

    //Title, Subtitle and Body
    .brief_text-title, .regular_text-title, .long_text-title, .brief_text-subtitle, .regular_text-subtitle, .long_text-subtitle, .brief_text-body, .regular_text-body, .long_text-body, .brief_text_inverted-title, .regular_text_inverted-title, .long_text_inverted-title, .brief_text_inverted-subtitle, .regular_text_inverted-subtitle, .long_text_inverted-subtitle, .brief_text_inverted-body, .regular_text_inverted-body, .long_text_inverted-body{
    }
    
    //Title
    .brief_text-title, .regular_text-title, .long_text-title, .brief_text_inverted-title, .regular_text_inverted-title, .long_text_inverted-title{
    }
    
    //Subtitle
    .brief_text-subtitle, .regular_text-subtitle, .long_text-subtitle, .brief_text_inverted-subtitle, .regular_text_inverted-subtitle, .long_text_inverted-subtitle{
    }
    
    //Body
    .brief_text-body, .regular_text-body, .long_text-body, .brief_text_inverted-body, .regular_text_inverted-body, .long_text_inverted-body{
    }
    
  } 
  
  //Text (Brief)
  .one_column-brief_text, .one_column-brief_text_inverted{
    .brief_text-title, .brief_text_inverted-title, .brief_text-subtitle, .brief_text_inverted-subtitle, .brief_text-body, .brief_text_inverted-body{
    }
  } 
  
  //Text (Regular)
  .one_column-regular_text, .one_column-regular_text_inverted{
  } 
  
  //Text (Long)
  .one_column-long_text, .one_column-long_text_inverted{
  }
  
  //Text (inverted)
  .one_column-brief_text_inverted, .one_column-regular_text_inverted, .one_column-long_text_inverted{
     .brief_text_inverted-title, .regular_text_inverted-title, .long_text_inverted-title, .brief_text_inverted-subtitle, .regular_text_inverted-subtitle, .long_text_inverted-subtitle, .brief_text_inverted-body, .regular_text_inverted-body, .long_text_inverted-body{
      color: $color-white;
      a{
        color: $color-white;
      }
    }
  }
 
  //Media
  .one_column-media{
  }
  
}

//Two Column
.segment-two_column{
  position: relative;
  z-index: 2;

  //Content (all)
  .two_column-content_with_left_text, .two_column-content_with_right_text, .two_column-content_with_left_text_inverted, .two_column-content_with_right_text_inverted{
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: $screen-tablet){
      display: block;
    }

    //Text
    .content_with_left_text-text, .content_with_right_text-text, .content_with_left_text_inverted-text, .content_with_right_text_inverted-text{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      width: 40%;
      @media only screen and (max-width: $screen-tablet){
        display: block;
        width: 100%;
      }
      .text-title, .text-subtitle, .text-body{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
      }
      .text-title{
      }
      .text-subtitle{
      }
      .text-body{
      }
    }
    
    //Media
    .content_with_left_text-media, .content_with_right_text-media, .content_with_left_text_inverted-media, .content_with_right_text_inverted-media{
      width: 60%;
      @media only screen and (max-width: $screen-tablet){
        display: block;
        width: 100%;
      }
    }
    
  }
    
  //Content (Right Text)
  .two_column-content_with_right_text, .two_column-content_with_right_text_inverted{
    .content_with_right_text-text, .content_with_right_text_inverted-text{
      order: 2;
    }
    .content_with_right_text-media, .content_with_right_text_inverted-media{
      order: 1;
    }
  }  
  
  //Content (inverted)
  .two_column-content_with_left_text_inverted, .two_column-content_with_right_text_inverted{
    .content_with_left_text_inverted-text, .content_with_right_text_inverted-text{
      .text-title, .text-subtitle, .text-body{
        color: $color-white;
        a{
          color: $color-white;
        }
      }
    }
  }    

}

//Button
.segment-button{
  position: relative;
  z-index: 2;
  .button-link{
    @include button-standard();    
  }
  
  //Inverted Button
  .button-inverted_link{
    @include button-standard('inverted');    
  }
  
}

//Maps
.segment-maps{
  position: relative;
  z-index: 2;
  
  //Single Map
  .maps-single_map{
    
    //Title
    .single_map-title{
    }
    
    //Tag Filters
    .single_map-tag_filters{
      .tag_filters-filter{
        .filter-checkbox{
        }
      }
    } 
    
    //Category Filters
    .single_map-category_filters{
      .category_filters-filter{
        .filter-checkbox{
        }
      }
    } 
    
    //Event Label Filters
    .single_map-event_label_filters{
      .event_label_filters-filter{
        .filter-checkbox{
        }
      }
    }
    
    //The Map
    .single_map-the_map{
    }    
  }
}

//Content Group
.segment-content_group{
  z-index: 2;
  position: relative;
  padding: 0 $cell-smaller;

  //All Child
  & > div{
    @include responsive-standard_container();
    &:first-of-type{
      //Make sure the padding of the section isn't pushed down
      margin-top: 0 !important;
    }
  }
  
  //Posts
  .content_group-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: $cell-smaller;
    
    //List post
    .posts-listed_post{
      width: 30.3333333333333%;
      margin-top: 1.5%;
      margin-bottom: 1.5%;
      
      //Thumbmail
      .listed_post-thumbnail{
        display: block;
        width: 100%;
        padding-bottom: 60%;
        background: $color-dark_shade;
        position: relative;
        overflow: hidden;
        border-bottom: $cell-smaller solid $color-white;
        .thumbnail-image{
          position: absolute;
          width: 100%;
        }
      }
      
      
      //Title, Event Days and Excerpt
      .listed_post-title, .listed_post-excerpt, .listed_post-event_days{
        text-decoration: none;
        background: $color-white;
        width: 100%;
        padding-right: $cell-smaller;
        padding-left: $cell-smaller;
        padding-bottom: $cell-smaller;
      }
      
      //Title
      .listed_post-title{
        display: block;
        font: $font-alternate;
        &:hover{
          text-decoration: underline;
        }
      }   
      
      //Excerpt
      .listed_post-excerpt{
        font: $font-smaller_standard;
        color: $color-dark_shade;
      }   

      //Event Days
      .listed_post-event_days{
        font: $font-smaller_alternate;
      }   
         
    }
  }

  //Users
  .content_group-users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $cell-smaller;
    margin-bottom: 3%;
    .users-listed_user{
      display: block;
      width: 25%;
      margin-top: 3%;
      border: $cell-smaller solid;
      border-color: transparent;
      text-decoration: none;
      transition: .15s border-color ;
         
      //Avatar
      .listed_user-avatar{
        display: block;
        width: 100%;
        height: auto;
      }
      
      //User Info
      .listed_user-info{
        background: $color-white;
        padding: $cell-smaller;
        .info-full_name{
          font: $font-standard;
        }
        .info-organization{
          font: $font-smaller_alternate;
          color: $color-dark_shade;
        }
      } 
    }    
  }
  
  //Element Responsive Styles
  @media only screen and (min-width: $screen-tablet) and (max-width: $screen-smaller_desktop){
    .content_group-users{
      .users-listed_user{
        width: 33.33333333333%;
      }
    }
  }
  @media only screen and (min-width: $screen-mobile) and (max-width: $screen-tablet){
    .content_group-posts, .content_group-users{
      .posts-listed_post, .users-listed_user{
        width: 47%;
        margin-top: 3%;
      }
    }
  }
  @media only screen and (max-width: $screen-mobile){
    .content_group-posts, .content_group-users{
      .posts-listed_post, .users-listed_user{
        width: 100%;
        margin-top: $cell-smaller;
        margin-bottom: $cell-smaller;
      }
      &:last-of-type{
        padding-bottom: $cell-smaller;
      }
    }
  }
  
}


//Contact Info
.segment-contact_info{
  z-index: 2;
  position: relative;
  
  //Map
  .contact_info-map{
    width: 100%;
    height: 75vh;
  }
  
  //Text and Form
  .contact_info-text_and_form{
    
    //Title
    .text_and_form-title{
    }
    
    //Form
    .text_and_form-form{
      .form-input_group{
        .input_group-label{
        }
        .input_group-input{
        }
      }
      .form-submit{
      }
    }
    
    //Contact Info
    .text_and_form-contact_info{
      
      //Address
      .contact_info-address{
        .address-street{
        }   
        .address-city_state_zip{
        }
        .address-country{
        }
      } 
      
      //Phone
      .contact_info-phone{
      }
      
      //Email
      .contact_info-email{
        .email-link{
        }
      }      
      
    }
    
  }
  
}