/*--------------------------------------------------------------
# Segment content that is within loop content.
--------------------------------------------------------------*/

//Background
.segment-background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  pointer-events: none;
  & > div{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  //Overlay
  .background-overlay{
    background: $color-translucent;
    z-index: -1;
  }
  
  //General Backgrounds  
  .background-white, .background-light_shade, .background-image{
    z-index: -2;
  }
  
  //White
  .background-white{
    @include background('white');
  }

  //Light Shade
  .background-light_shade{
    @include background('light_shade');
  }
  
  //Image
  .background-image{
    @include background('image');
  }
}

//Info Box
.segment-info_box{
  position: relative;
  z-index: 3;

  //Content
  .info_box-content{

    //Title
    .content-title{
    }
    
    //Body
    .content-body{
    }
    
  }

}

//Testimonials
.segment-testimonials{
  position: relative;
  z-index: 2;

  //Title
  .testimonials-title{
  }
  
  //Body
  .testimonials-body{
  }
  
  //Quotes
  .testimonials-quotes{
    
    //Single Quote
    .quotes-single_quote{
    }
    
  }
  
  //Sources
  .testimonials-sources{
    
    //Single Source
    .sources-single_source{
      .single_source-image{
      }
    }
    
  }

}


//Callout
.segment-callout{
  position: relative;
  display: table;
  width: 100%;
  z-index: 2;
  
  //Content (all sizes + inverted)
  .callout-large, .callout-medium, .callout-small, .callout-large_inverted, .callout-medium_inverted, .callout-small_inverted {
    text-align: center;

    //Title and Body
    & > div {
      @include responsive-smaller_container();
    }
    
    //Title
    .large-title, .medium-title, .small-title, .large_inverted-title, .medium_inverted-title, .small_inverted-title{
      @include responsive-largest_standard_font();
    }
    
    //Body
    .large-body, .medium-body, .small-body, .large_inverted-body, .medium_inverted-body, .small_inverted-body{
      @include responsive-standard_font();
    } 
  }
  
  //Content (large)
  .callout-large, .callout-large_inverted {
    height: 90vh;
    display: table-cell;
    vertical-align: middle;
  }

  //Content (medium)
  .callout-medium, .callout-medium_inverted{
    @include responsive-larger_padding()
  }

  //Content (small)
  .callout-small, .callout-small_inverted{
    padding: $cell-smallest;
  }
  
  //Content (all sizes + not inverted)
 .callout-large, .callout-medium, .callout-small{
   
    //Title
    .large-title, .medium-title, .small-title{
    }
    
    //Body
    .large-body, .medium-body, .small-body{
    }
    
  }
  
  //Content (inverted)
 .callout-large_inverted, .callout-medium_inverted, .callout-small_inverted{
    .large_inverted-title, .medium_inverted-title, .small_inverted-title, .large_inverted-body, .medium_inverted-body, .small_inverted-body{
      color: $color-white;
      a{
        color: $color-white;
      }
    }
  }
    
}

//One Column
.segment-one_column{
  position: relative;
  z-index: 2;
  
  //Text (All)
  .one_column-brief_text, .one_column-regular_text, .one_column-long_text, .one_column-brief_text_inverted, .one_column-regular_text_inverted, .one_column-long_text_inverted{

    //Title and Body
    .brief_text-title, .regular_text-title, .long_text-title, .brief_text-body, .regular_text-body, .long_text-body, .brief_text_inverted-title, .regular_text_inverted-title, .long_text_inverted-title, .brief_text_inverted-body, .regular_text_inverted-body, .long_text_inverted-body{
    }
    
    //Title
    .brief_text-title, .regular_text-title, .long_text-title, .brief_text_inverted-title, .regular_text_inverted-title, .long_text_inverted-title{
    }
    
    //Body
    .brief_text-body, .regular_text-body, .long_text-body, .brief_text_inverted-body, .regular_text_inverted-body, .long_text_inverted-body{
    }
    
  } 
  
  //Text (Brief)
  .one_column-brief_text, .one_column-brief_text_inverted{
    .brief_text-title, .brief_text_inverted-title, .brief_text-body, .brief_text_inverted-body{
    }
  } 
  
  //Text (Regular)
  .one_column-regular_text, .one_column-regular_text_inverted{
    .regular_text-body, .regular_text-body{
    }
  } 
  
  //Text (Long)
  .one_column-long_text, .one_column-long_text_inverted{
  }
  
  //Text (inverted)
  .one_column-brief_text_inverted, .one_column-regular_text_inverted, .one_column-long_text_inverted{
     .brief_text_inverted-title, .regular_text_inverted-title, .long_text_inverted-title, .brief_text_inverted-body, .regular_text_inverted-body, .long_text_inverted-body{
      color: $color-white;
      a{
        color: $color-white;
      }
    }
  }
 
  //Media
  .one_column-media{
  }
  
}

//Two Column
.segment-two_column{
  position: relative;
  z-index: 2;

  //Content (all)
  .two_column-content_with_left_text, .two_column-content_with_right_text, .two_column-content_with_left_text_inverted, .two_column-content_with_right_text_inverted{
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: $screen-smallest){
      display: block;
    }

    //Text
    .content_with_left_text-text, .content_with_right_text-text, .content_with_left_text_inverted-text, .content_with_right_text_inverted-text{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      width: 40%;
      @media only screen and (max-width: $screen-smallest){
        display: block;
        width: 100%;
      }
      .text-title, .text-body{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
      }
      .text-title{
      }
      .text-body{
      }
    }
    
    //Media
    .content_with_left_text-media, .content_with_right_text-media, .content_with_left_text_inverted-media, .content_with_right_text_inverted-media{
      width: 60%;
      @media only screen and (max-width: $screen-smallest){
        display: block;
        width: 100%;
      }
    }
    
  }
    
  //Content (Right Text)
  .two_column-content_with_right_text, .two_column-content_with_right_text_inverted{
    .content_with_right_text-text, .content_with_right_text_inverted-text{
      order: 2;
    }
    .content_with_right_text-media, .content_with_right_text_inverted-media{
      order: 1;
    }
  }  
  
  //Content (inverted)
  .two_column-content_with_left_text_inverted, .two_column-content_with_right_text_inverted{
    .content_with_left_text_inverted-text, .content_with_right_text_inverted-text{
      .text-title, .text-body{
        color: $color-white;
        a{
          color: $color-white;
        }
      }
    }
  }    

}

//Button
.segment-button{
  position: relative;
  z-index: 2;
  .button-link{
    @include button-standard();    
  }
  
  //Inverted Button
  .button-inverted_link{
    @include button-standard('inverted');    
  }
  
}

