/*--------------------------------------------------------------
# Document Properties: Properties for basic HTML elements
--------------------------------------------------------------*/
body{
  margin: 0;
  font-family: $font-family-standard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-standard;
}
*{
  box-sizing: border-box !important;
}
img, a img{
  border: 0;
  max-width: 100%;
}
a{
  color: $color-alternate;
  &:active, &:focus{
    opacity: .8; 
    outline: 0;
  }
}
form{
  
}
table{
  
}
h1, h2, h3, h4 {
  line-height: $line-height-standard;
}
h1 {
  @include responsive-largest_standard_font();
}
h2 {
  @include responsive-larger_standard_font();
}
h3 {
  @include responsive-standard_font();
}
h4 {
  @include responsive-smaller_standard_font();
}